body {
  font-family: "Comfortaa", cursive;
  background-color: #525e75;
}

.wrapper {
  width: 450px;
  margin: auto;
}

.action-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset {
  height: 30px;
  font-size: 20px;
}

.turn {
  font-size: 45px;
  text-align: center;
  color: #f1ddbf;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  border: 2px solid #f1ddbf;
}

.tile {
  box-sizing: border-box;
  border: 2px solid #f1ddbf;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-x:before {
  font-size: 8rem;
  content: "X";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e2546a;
}

.tile-o:before {
  font-size: 8rem;
  content: "O";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #92ba92;
}
.reset {
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #f1ddbf;
  color: #78938a;
  transition: 0.2s;
}
.reset:hover {
  color: #525e75;
  cursor: pointer;
  background-color: #fff;
  transform: scale(1.1);
}
